 {
  /* Keywords and Custom Identifiers */
  display: block;
  font-weight: inherit;
  content: 'Hello, World!';
  grid-template-areas: 'header header' 'main sidebar';

  /* Length and Percentage */
  width: 300px;
  height: 50%;
  height: -50.33%;
  padding: -10em;

  /* Numeric Values */
  z-index: 5;
  z-index: -5;
  line-height: 1.5;
  line-height: -1.5;
  font-size: 14.5;
  animation-delay: -2s;
  background: center / contain no-repeat
      url('../../media/examples/firefox-logo.svg'),
    #eee 35% url('../../media/examples/lizard.png');

  /* Colors */
  /* color: red; */
  /* background-color: rgb(255, 0, 0); */
  /* border-color: #00ff00; */
  /* box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); */

  /* URLs and Functions */
  /* background-image: url('image.jpg'); */
  /* transform: rotate(45deg); */
  /* transform: translate(10px, 20px) scale(1.5) rotate(45deg); */
  /* calc: calc(100% + 10px); */

  /* Property Value Range */
  /* border-collapse: collapse; */
  /* position: absolute; */

  /* Combinations */
  /* border-radius: 10px / 20px; */
  /* background-size: cover, contain; */
  /* transform-origin: center center; */

  /* Special Keywords */
  /* font-family: initial; */
  /* margin: inherit; */
  /* padding: revert; */
  /* opacity: unset; */

  /* Shorthand Properties */
  /* margin: 5px 10px 15px 20px; */
  /* padding: 1em 2em; */
  /* border-width: 1px 2px 3px; */

  /* Other */
  /* font: italic bold 20px/1.5 'Times New Roman', sans-serif; */
  /* width: 50% + 10px; */
  /* padding: 2em 5%; */
  /* grid-template-columns: repeat(3, 1fr 2fr) minmax(100px, auto); */
  /* --main-color: blue; */
  /* color: var(--main-color); */
}
