@media screen and (max-width: 800px),
  (min-resolution: 192dpi) and (max-width: 768px) {
  [dir='rtl'] .tab-lifted.tab-active:not(.tab-disabled):not([disabled]):after {
    border: 1px solid red;
    background: red;
  }

  input {
    color: red;
    animation: spin 300ms ease-in;
  }
}
